{% extends 'base.html' %}
{% block content %}




<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-orange text-white">
                <h5 class="card-title mb-0 fw-bold"> کد احراز هویت </h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for message in messages %}
                    <div class="alert alert-danger">{{message}}</div>
                        
                    {% endfor %}
                    <div class="mb-2">
                        <label for="otp" class="form-label">کد چهار رقمی پیامک شده را وارد کنید </label>
                    </div>

                    <div class="mb-3">
                        <input type="number" class="form-control" name="otp" id="otp" required inputmode="numeric" >
                    </div>
                    
                    <button type="submit" class="btn btn-3d-orange w-100">دریافت کد احراز هویت</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}