{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-orange text-white">
                <h5 class="card-title mb-0 fw-bold">ثبت نام</h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label for="f_name" class="form-label">نام</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="f_name" id="f_name" required >
                    </div>

                    <div class="mb-2">
                        <label for="l_name" class="form-label">نام خانوادگی</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="l_name" id="l_name" required>
                    </div>

            
                        <input type="hidden"  name="phone" id="phone" required value="{{request.session.phone}}">
                   
                    
                    <button type="submit" class="btn btn-3d-orange w-100">دریافت کد احراز هویت </button>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}